header {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; }
  header button {
    margin-left: 20px; }

.hide {
  cursor: not-allowed;
  pointer-events: none; }

.blue {
  color: #24a2f0; }

.red {
  color: #fa6b40; }

.yellow {
  color: #d1c408; }
