header {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;


    button {
        margin-left: 20px;


    }




}

.hide {

    cursor: not-allowed;
    pointer-events: none;
}

.blue {
    color: rgb(36, 162, 240);
}

.red {
    color: rgb(250, 107, 64);
}

.yellow {
    color: rgb(209, 196, 8);
}